<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Галерея - Мир Цветов</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О сайте</a>
        <a href="/gallery">Галерея</a>
        <a href="/flowers">Цветы</a>
    </nav>

    <h1>Галерея</h1>

    <div class="flower">
        <h2>Роза</h2>
        <img src="https://dari-cvety.com/assets/images/products/1198/buket-21-roza-korallovaya-ekvador-50sm-1.jpg" alt="Роза">
        <p>Роза — символ любви и страсти. Этот цветок отличается невероятной красотой и разнообразием сортов. Он часто используется для создания букетов, подарков и декора, особенно в романтических и торжественных событиях. Розы бывают различных оттенков, каждый из которых имеет свою символику, например, красные розы означают страсть и любовь, а белые — чистоту и невинность.</p>
    </div>

    <div class="flower">
        <h2>Подсолнух</h2>
        <img src="https://flowersvalley.ru/images/posts/51c961ed4fd26da6ca0192b0c01b70ca.png" alt="Подсолнух">
        <p>Подсолнух — символ солнечной энергии и счастья. Его яркие желтые лепестки напоминают о жарких летних днях. Подсолнухи всегда стремятся к свету и являются источником вдохновения для многих художников и поэтов. Этот цветок приносит радость и уют, создавая атмосферу позитива и жизненной энергии.</p>
    </div>

    <div class="flower">
        <h2>Тюльпан</h2>
        <img src="https://tsvetomania.ru/upload/ammina.optimizer/jpg-webp/q80/upload/resize_cache/iblock/f72/710_605_1/f724664f98a5f7c8314da2d997b0f014.webp" alt="Тюльпаны">
        <p>Тюльпан — один из самых популярных весенних цветов, который ассоциируется с приходом тепла и красоты. Он бывает различных цветов, от ярких красных до нежных пастельных оттенков. Тюльпаны символизируют любовь, благополучие и новизну. В разных странах их считают символом надежды и восстановления.</p>
    </div>

</body>
</html>
