<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Главная - Мир Цветов</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О сайте</a>
        <a href="/gallery">Галерея</a>
        <a href="/flowers">Цветы</a>
    </nav>

    <h1>Добро пожаловать в мир цветов!</h1>
    <img src="https://static.tildacdn.com/tild6230-6163-4331-b064-383935303265/cvety-popular.jpg" alt="Цветочки">
    <p>На этом сайте вы найдете информацию о красивых цветах, их видах и интересных фактах.</p>

    <p>Цветы — это не просто декоративные элементы природы, они также являются важным звеном в экосистемах, оказывая влияние на другие растения, животных и даже людей. Цветы привлекают нас своими яркими красками, приятным ароматом и разными символическими значениями. Они были частью культуры и ритуалов людей на протяжении всей истории, играя важную роль в различных традициях и праздниках.</p>

    <p>Здесь, на сайте, вы сможете узнать о самых популярных видах цветов, таких как розы, тюльпаны, лилии и многие другие. Каждый цветок несет свою историю и значение. Например, розы символизируют любовь, а подсолнухи — счастье и позитив. Кроме того, вы найдете информацию о том, где эти цветы растут, как за ними ухаживать, а также как они влияют на окружающий мир.</p>

    <p>Цветы не только радуют глаз, но и имеют множество полезных свойств. Многие из них используются в медицине, косметологии и даже в кулинарии. Например, лаванда известна своими успокаивающими свойствами, а ромашка часто используется для успокоения нервной системы и облегчения бессонницы. Цветы также играют важную роль в биоразнообразии планеты, являясь основным источником пищи для насекомых, таких как пчелы и бабочки, которые помогают в опылении растений.</p>

    <p>Я приглашаю вас не только узнать больше о цветах, но и насладиться их красотой в нашей галерее. Здесь вы найдете потрясающие изображения различных цветов, которые могут вдохновить вас на создание собственного сада или просто подарить вам приятные эмоции.</p>

</body>
</html>
